extends layout

block content
  .card
    h1 🎮 About Our Gaming Platform

    p
      | Welcome to our Gaming Platform! This project was built as part of our Sprint 3 coursework.

    h2 🚀 Features
    ul
      li User login and registration
      li View all gaming posts
      li View post details and tags
      li Browse users and profiles

    h2 👨‍💻 Our Team
    p
      | We are a group of developers passionate about gaming and web development.

    h2 🎯 Our Goal
    p
      | To create a simple and interactive platform where users can share and explore gaming content.

    h2 📚 Technologies Used
    ul
      li Node.js & Express
      li MySQL Database
      li Pug Templates
      li Docker Containers