extends layout

block content
  .container
    .sidebar
      h3 Categories
      ul
        li: a(href="/posts") All
        li: a(href="/posts?category=Action") Action
        li: a(href="/posts?category=Sports") Sports
        li: a(href="/posts?category=Adventure") Adventure

    .main
      h2 🎮 Game Posts

      each post in posts
        .card.post
          img(src="/images/default.png")
          .post-info
            h3= post.title
            p By #{post.username || "Unknown"}
            p ⭐ Rating: #{post.rating} / 5
            p 👍 Likes: #{post.likes}