doctype html
html
  head
    title Gaming Community
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style.css")

  body
    - const navUser = (typeof currentUser !== 'undefined' && currentUser) ? currentUser : (typeof user !== 'undefined' ? user : null)
    - const unreadNotifications = typeof notificationCount !== 'undefined' ? Number(notificationCount || 0) : 0

    .navbar
      div GAMING-COMMUNITY

      div
        a(href="/") Home
        a(href="/posts") Posts
        a(href="/users") Users

        if navUser
          a(href="/posts/create") Create Post
          a(href="/posts/saved") 💾 Saved

          a.notification-nav-link(href="/notifications")
            | 🔔 Notifications
            if unreadNotifications > 0
              span.notification-badge= unreadNotifications

          a(href="/profile") Profile
          a(href=`/users/${navUser.id}`) My Public Profile
          a(href=`/users/${navUser.id}/followers`) Followers
          a(href=`/users/${navUser.id}/following`) Following
          a(href="/logout") Logout
        else
          a(href="/login") Login
          a(href="/register") Register

    block content

    footer.footer
      .footer-container
        .footer-left
          p 2025 Gaming Community
          p.small Independent platform. All game content and trademarks belong to their respective owners.

        .footer-links
          a(href="/about") About
          a(href="/privacy-policy") Privacy Policy
          a(href="/terms-of-service") Terms of Service
          a(href="/support") Support

        .footer-right
          span EN
          span.social Gaming