doctype html
html
  head
    title 🎮 Gaming Platform
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/main.js", defer)
  body

    .navbar
      div
        img(src="/images/logo.png" width="40")
        a(href="/posts") Gaming Platform
        a(href="/users") Players
        a(href="/about") About
      div
        a(href="/login") Login

    .container
      block content