doctype html
html
  head
    title Gaming Community
    link(rel="stylesheet", href="/style.css")
  body

    .navbar
      div GAMING-COMMUNITY
      div
        a(href="/") Home
        a(href="/users") Users
        a(href="/profile") Profile
        a(href="/login") Login

    block content