doctype html
html
  head
    title Gaming Community
    link(rel="stylesheet", href="/style.css")
  body
    .navbar
      div GAMING-COMMUNITY
      div
        a(href="/") Home
        a(href="/users") Users
        a(href="/profile") Profile
        if !user
          a(href="/login") Login
        else
          a(href="/posts/create") Create Post
          a(href="/logout") Logout
    block content
    footer.footer
      .footer-container
        .footer-left
          p 2025 Gaming Community
          p.small Independent platform. All game content and trademarks belong to their respective owners.
        .footer-links
          a(href="/about") About
          a(href="#") Privacy Policy
          a(href="#") Terms of Service
          a(href="#") Support
        .footer-right
          span EN
          span.social Gaming
