extends layout

block content
  .card.center-card
    h1 Register
    form(method="POST" id="registerForm")
      input(type="text" name="username" placeholder="Username")
      input(type="email" name="email" placeholder="Email")
      input(type="password" name="password" placeholder="Password")
      button(type="submit") Register
    p(style="margin-top:16px; text-align:center;")
      | Already have an account?
      a(href="/login") Login here